<!--     
   <select name="modelo" id="">
       <option <%= user.modelo === 'h20' ? "selected" : "" value="hb20"></option>
       <option <%= user.modelo === 'honix' ? "selected" : "" value="onix"></option>
   </select> -->
