<h2>adicionar usuarío</h2>

<form action="/add-action" method="post">
    <input type="text" placeholder="nome" name="nome">
    <br> <br>

    <input type="text" placeholder="email" name="email">
    <br> <br>

    <input type="text" placeholder="idade" name="idade">
    <br> <br>

    <input type="text" placeholder="telefone" name="tel">
    <br> <br>
    <input type="submit" value="adicionar">
    <button><a href="/">cancelar</a></button>
</form>